@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body
{
	font-family: 'Ubuntu',sans-serif;
	padding-top: 50px;
}

#welcome
{
	background-image: url(../img/welcome.jpg);
	background-size: cover;
	padding-bottom: 45%;	
}
.spacer-md
{
	padding-bottom: 2%;
}
footer
{
	padding: 2%;
}